
under_dev/venv/
backend/docnest-f85e2-firebase-adminsdk-fbsvc-4f30712b1b.json
under_dev/docnest-f85e2-firebase-adminsdk-fbsvc-4f30712b1b.json
under_dev/.env
under_dev/__pycache__/
backend/.env
.env
**/.env